body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://media.giphy.com/media/JUegiSMuwLPmo/giphy.gif'); /* URL del GIF como fondo */
  background-size: cover; /* Asegúrate de que el fondo cubra toda la página */
  background-position: center; /* Centra el fondo */
  background-repeat: no-repeat; /* Evita que el fondo se repita */
  background-attachment: fixed; /* Hace que el fondo se quede fijo al desplazarse */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
