/* Paginado.module.css */
.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  background-color: #0d6efd; /* Color azul brillante */
  color: white;
  border: 1px solid #0a58ca;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

  /* Efecto "gamer" con gradiente */
  background-image: linear-gradient(to right, #0d6efd 0%, #6610f2 51%, #0d6efd 100%);
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efecto 3D */
  border-radius: 10px;
}

.page-link:hover {
  background-position: right center; /* Cambia la dirección del gradiente */
  color: #fff;
  text-decoration: none;
  transform: translateY(-3px); /* Efecto de elevación */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más prominente en hover */
}
