.Container {
  position: relative;
  z-index: 1;
}

.Options {
  position: absolute;
  top: 30px; /* Ajusta la distancia desde la parte superior según sea necesario */
  right: 0;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  z-index: 2; /* Asegúrate de que el valor de z-index sea mayor que el de .Container */
}
